body{
    overflow: hidden;
}
.array-container{
    height: 80vh;
    margin: 3vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center; 
}
.array-bar{
    background-color: #42a4f5;
    display: flex;
    align-self: flex-end;
    margin: 1px;
}
.btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-color: #4bab5d;
    transition-duration: 0.3s;
    border-style: solid;
    border-radius: 5px;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    padding-top: 0.25vh;
    padding-bottom: 0.4vh;
}
.btn:hover:enabled{
    background-color: #4bab5d;
    color: white;
}
.slider-container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.slider{
    appearance: none;
    -webkit-appearance: none;
    width: 30%;
    height: 2vh; 
    border-color: #4bab5d;
    border-style: solid;
    border-radius: 10vh;
    outline: none;
    opacity: 0.6;
    transition-duration: 0.3s;
    margin-right: 2vh;
    margin-left: 2vh;
}
.slider:hover:enabled {
    opacity: 1;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    width: 2.2vh;
    height: 2.2vh;
    border-radius: 10vh;
    background-color: #4bab5d;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 2vh;
    height: 2vh;
    border-radius: 10vh;
    background-color: #4bab5d;
    cursor: pointer;
}
